{% extends 'base.html' %}

{% block title %}상품 등록{% endblock title %}

{% block content %}
<nav class="navbar nav-global fixed-top navbar-expand-sm">
	<div class="container">
		<a class="navbar-brand" href="javascript:history.back()">
			<i class="material-icons ic-filter">arrow_back_ios</i>뒤로
		</a>
	</div>
</nav>

<div class="container container-sm container-item-create">
	<h5 class="container-headline">중고거래 상품 등록</h5>

	<form class="form-item-create" action="{% url 'products:register' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
		<span class="text-danger">{{error}}</span>
		{% endfor %}
		{% endif %}

		<!-- <div class="form-group form-picture">
			<div class="file-box">
				<input class="upload-name" value="파일선택" disabled="disabled">

				<label for="ex_filename" class="btn btn-secondary">업로드</label>
				<input type="file" id="ex_filename" class="upload-hidden">
			</div>
		</div> -->

		<div class="form-group form-picture">
			{{ form.image }}
			<div class="file-box">
			</div>
			{% if form.image.errors %}
			<span class="text-danger">{{ form.image.errors }}</span>
			{% endif %}
		</div>

		<div class="form-group form-title">
			{{ form.title }}
			{% if form.title.errors %}
			<p class="text-danger">{{ form.title.errors }}</p>
			{% endif %}
		</div>

		<div class="form-group form-category">
			<select id="productsCategory" class="form-control" name='categories'>
				{% for key, val in form.categories.field.widget.choices %}
				{% if not key %}
				<option value="{{ key }}" disabled selected>{{ val }}</option>
				{% else %}
				<option value="{{ key }}">{{ val }}</option>
				{% endif %}
				{% endfor %}
			</select>
			{% if form.categories.errors %}
			<span class="text-danger">{{ form.categories.errors }}</span>
			{% endif %}
		</div>

		<div class="form-group form-price">
			{{ form.price }}
			{% if form.price.errors %}
			<span class="text-danger">{{ form.price.errors }}</span>
			{% endif %}
		</div>

		<div class="form-group form-description">
			{{ form.describe }}
			{% if form.describe.errors %}
			<span class="text-danger">{{ form.describe.errors }}</span>
			{% endif %}
		</div>

		<div id="carField">
			<div class="form-group form-car-model-year">
				<select id="carModelYear" class="form-control" name='year'>
					{% for key, val in form.year.field.widget.choices %}
					{% if key == 0 %}
					<option value="{{ key }}" disabled selected>{{ val }}</option>
					{% else %}
					<option value="{{ key }}">{{ val }}</option>
					{% endif %}
					{% endfor %}
				</select>
				{% if form.year.errors %}
				<span class="text-danger">{{ form.year.errors }}</span>
				{% endif %}
			</div>

			<div class="form-group form-car-mileage">
				{{ form.driven_distance }}
				{% if form.driven_distance.errors %}
				<span class="text-danger">{{ form.driven_distance.errors }}</span>
				{% endif %}
			</div>

			<div class="form-group form-car-smoking">
				<label>차량 판매자 흡연 여부</label>
				{% for key, val in form.smoking.field.widget.choices %}
				{% if key %}
				<div class="form-check form-check-inline form-check-smoking">
					<input class="form-check-input" type="radio" name="smoking" id="inlineSmoker" value={{ key }}>
					<label class="form-check-label smoker" for="inlineSmoker">{{ val }}</label>
				</div>
				{% else %}
				<div class="form-check form-check-inline form-check-nonsmoking">
					<input class="form-check-input" type="radio" name="smoking" id="inlineNonSmoker" value={{ key }}>
					<label class="form-check-label non-smoker" for="inlineNonSmoker">{{ val }}</label>
				</div>
				{% endif %}
				{% endfor %}
				{% if form.smoking.errors %}
				<span class="text-danger">{{ form.smoking.errors }}</span>
				{% endif %}
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-submit">상품 등록하기</button>
	</form>
</div>
{% endblock content %}