{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css"
    integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  {% include 'partial/nav.html' %}

  {% block content %}{% endblock content %}

  {% include 'partial/footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"
    integrity="sha256-59/apVFrosMLFX2dHZLGvb3nPpu7e0Yx1rsDr1dTRrk=" crossorigin="anonymous"></script>
  <script>
    // With JQuery
    // 차량 연식 input
    var minCarModelYear = 1990;
    var maxCarModelYear = 2020;
    var currentMinCarModelYear = {% if min_year %}Number('{{ min_year }}'){% else %} minCarModelYear{% endif %}
    var currentMaxCarModelYear = {% if max_year %}Number('{{ max_year }}'){% else %} maxCarModelYear{% endif %}
    $("#sliderCarModelYear").slider({ min: minCarModelYear, max: maxCarModelYear, value: [currentMinCarModelYear, currentMaxCarModelYear], focus: true });
    $(function () {
      $('#sliderCarModelYearHelp').text(currentMinCarModelYear + '년부터 ' + currentMaxCarModelYear + '년까지');
      $('#sliderCarModelYear').change(function () {
        currentMinCarModelYear = $("#sliderCarModelYear")[0].value.split(',')[0];
        currentMaxCarModelYear = $("#sliderCarModelYear")[0].value.split(',')[1];
        $('#sliderCarModelYearHelp').text(currentMinCarModelYear + '년부터 ' + currentMaxCarModelYear + '년까지');
      });
    });

    // 차량 주행 거리 input
    var minCarMileage = 0;
    var maxCarMileage = 100000;
    var currentMinCarMileage = {% if min_driven_distance %}Number('{{ min_driven_distance }}'){% else %} minCarMileage{% endif %}
    var currentMaxCarMileage = {% if max_driven_distance %}Number('{{ max_driven_distance }}'){% else %} maxCarMileage{% endif %}
    $("#sliderCarMileage").slider({ min: minCarMileage, max: maxCarMileage, value: [currentMinCarMileage, currentMaxCarMileage], step: 1000, focus: true });
    $(function () {
      $('#sliderCarMileageHelp').text(currentMinCarMileage + 'km부터 ' + currentMaxCarMileage + 'km까지');
      $('#sliderCarMileage').change(function () {
        currentMinCarMileage = $('#sliderCarMileage')[0].value.split(',')[0];
        currentMaxCarMileage = $('#sliderCarMileage')[0].value.split(',')[1];
        $('#sliderCarMileageHelp').text(currentMinCarMileage + 'km부터 ' + currentMaxCarMileage + 'km까지');
      })
    });

    // 차량 필터 초기화 버튼
    $('#filterInitializer').click(function () {
      $("#sliderCarModelYear").slider({ min: minCarModelYear, max: maxCarModelYear, value: [minCarModelYear, maxCarModelYear], focus: true });
      $("#sliderCarModelYear").slider('refresh');
      $('#sliderCarModelYearHelp').text(minCarModelYear + '년부터 ' + maxCarModelYear + '년까지');
      $("#sliderCarMileage").slider({ min: minCarMileage, max: maxCarMileage, value: [minCarMileage, maxCarMileage], step: 1000, focus: true });
      $("#sliderCarMileage").slider('refresh');
      $('#sliderCarMileageHelp').text(minCarMileage + 'km부터 ' + maxCarMileage + 'km까지');
      $('#formRadiosSmoking').prop('checked', 'checked');
    });

    // 판매글 작성시 차량 카테고리 선택
    $(function () {
      $('#carField').hide();
      $('#productsCategory').on("propertychange change keyup paste input", function () {
        if ($('#productsCategory').val() == 1) {
          $('#carField').show();
        } else {
          $('#carField').hide();
        };
      });
    });
    if ($('#productsCategory').val() == 1) {
      $('#carField').show();
    } else {
      $('#carField').hide();
    };
  </script>
</body>

</html>