{% extends 'base.html' %}
{% load humanize %}

{% block title %}당근마켓 - 우리 동네 중고거래{% endblock title %}

{% block content %}
<div class="container container-main-index">
  <h5 class="container-headline">중고 거래 제품</h5>

  <div class="categories-group">
    {% for cat_eng, cat_kor in categories.items %}
    <a href="{% url 'products:category_list' cat_eng %}" class="btn btn-category">{{ cat_kor }}</a>
    {% endfor %}
  </div>

  <ul class="list-products row">
    {% for product in products %}
    <li class="list-products-item col-12 col-md-4 col-lg-3">
      <a href="{% url 'products:product_detail' product.id %}">
        <div class="card">
          <div class="card-img-top"
            style="background: url('{{ product.image.0.image.url }}') no-repeat center; background-size: cover; height: 240px">
          </div>
          <div class="card-body">
            <h5 class="title">{{ product.title|truncatewords:2 }}</h5>
            <h6 class="price">{{ product.price|intcomma }}원</h6>
            <div class="text-muted">
              <h6 class="category">{{ product.category }}</h6>
              <time datetime='2019-08-20T08:30:00Z'>2개월전</time>
            </div>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>

  <h5 align="center">
    {% if page_obj.has_previous %}
    <a class="btn btn-primary" role="button" href="/?page={{ page_obj.previous_page_number }}">이전</a>
    {% else %}
    <button class="btn" disabled>다음</button>
    {% endif %}

    {% if page_obj %}
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% else %}
    Page 1 of 1
    {% endif %}

    {% if page_obj.has_next %}
    <a class="btn btn-primary" role="button" href="/?page={{ page_obj.next_page_number }}">다음</a>
    {% else %}
    <button class="btn" disabled>다음</button>
    {% endif %}
  </h5>
</div>
{% endblock content %}